html {
    font-family: 'Manrope', sans-serif;
    font-weight: lighter;
    color: #453823;
    background-color: #7393B3;
}

body {
    font-family: 'Manrope', sans-serif;
    font-weight: lighter;
    color: #453823;
    background-color: #7393B3;
}

.column {
    column-count: 2; /* Adjust the number of columns as needed */
    column-gap: 20px; /* Adjust the gap between columns as needed */
}


.grid-thirds {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Divide the grid into three columns of equal width */
    grid-gap: 20px; /* Add a gap of 20 pixels between grid items */
}

.chart-wrapper {
    background-color: #000042; /* Set a background color */
    align-items: center;
}

.chart-stage {
    max-height: 200px;
}

.grid-container {
    margin-top: 20px; /* Add space between the top of the page and the grid layout */
}

.chart-title {
    margin-left: 10px;
    color: #FFFFFF; /* Set a background color */
}

.chart-notes {
    margin-left: 10px;
    color: #FFFFFF; /* Set a background color */
}

.form-title {
    font-weight: 700;
    color: #FFFFFF;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #7393B3;
    color: white;
    padding: 3px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #7393B3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #5a7691}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #5a7691;
  }
  
  .item-form{
    color: #5a7691;
  }

/* Navbar */
header, .header-container {
    background-color: #FFFFFF;
}

.nav-link {
    color: #453823;
    font-weight: 600;
    border-radius: 100px;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.nav-link:hover,
.nav-link:focus {
    color: #FFFFFF;
    background-color: #000042;
}

.nav-link.active {
    color: #FFFFFF;
    background-color: #000042;
}


/* Buttons */
.btn-primary {
    background-color: #7393B3;
    border-radius: 100px;
    border: none;
    font-weight: 600;

    &:hover {
        background-color: #000042;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    }
    
    &:active {
        background-color: #000042!important;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }
}

.btn-outline-primary {
    border-radius: 10rem;
    color: #000042;
    background-color: transparent;
    border-color: #000042;
    
    &:hover {
        color: #FFFFFF!important;
        background-color: #000042!important;
        border-color: #000042!important;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    }
    
    &:active {
        color: #FFFFFF!important;
        background-color: #000042!important;
        border-color: #000042!important;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }
}

/* Settings Styling */

.subsection {
    padding-left: 1.5rem;
    padding-top: 1rem;
}

.subsection .setting-title {
    font-size: 0.95rem;
    font-weight: 500;
}

.setting-title {
    font-weight: 700;
    font-size: 1.1rem;
}

.setting-selected {
    color: #000042;
    font-weight: 800;
    font-size: 0.95rem;
}

.info {
    width: 70%;
}

.setting-form {
    padding-top: 1rem;
    font-weight: 700;
}

.column-gap {
    column-gap: 25px;
}

.chart-wrapper {
    background-color: #000042; /* Set a background color */
}

.grid-container {
    margin-top: 20px; /* Add space between the top of the page and the grid layout */
}

.chart-title {
    margin-left: 10px;
    color: #FFFFFF; /* Set a background color */
}


