{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center">
    <h1 class="form-title">My Plants</h1>
    <button class="btn btn-primary"><i class="fa-solid fa-plus"></i>&ensp;Add Plant</button>
</div>
<div class="d-flex flex-row gap-4 mt-4">
    <div class="box d-flex align-content-stretch flex-wrap gap-3">
        {% for plant in plants %}
        <div class="custom-card align-self-stretch flex-fill d-flex flex-column align-content-stretch gap-4 my-3">
            <div class="d-flex flex-column gap-4">
                <div class="d-flex flex-column gap-4 align-items-center">
                    <img src="{{ url_for('static', filename='images/' + plant.image) }}" alt="plant image" class="plant-image">
                    <h3 class="post-title">{{ plant.title }}</h3>
                </div>
                <div class="d-flex flex-column gap-2">
                    <div class="d-flex flex-row gap-4">
                        <div class="col-sm-5">
                            <p class="desc-title m-0">Species:</p>
                        </div>
                        <div class="col-sm-5">
                            <p class="desc-text m-0">{{ plant.species }}</p>
                        </div>
                    </div>
                    <div class="d-flex flex-row gap-4">
                        <div class="col-sm-5">
                            <p class="desc-title m-0">Overall Health:</p>
                        </div>
                        <div class="col-sm-5">
                            <p class="desc-text m-0">{{ plant.health }}</p>
                        </div>
                    </div>
                    <div class="d-flex flex-row gap-4">
                        <div class="col-sm-5">
                            <p class="desc-title m-0">Soil Mixture:</p>
                        </div>
                        <div class="col-sm-5">
                            <p class="desc-text m-0">{{ plant.soil }}</p>
                        </div>
                    </div>
                    <div class="d-flex flex-row gap-4">
                        <div class="col-sm-5">
                            <p class="desc-title m-0">Soil Moisture:</p>
                        </div>
                        <div class="col-sm-5 d-flex align-items-center justify-content-start gap-1">
                                <p class="desc-text m-0">{{ plant.moisture }}</p>
                            {% if plant.moisture.lower() == 'low' %}
                                <div class="water-tag ml-2">
                                    <span class="water-tooltip">
                                        <i class="fa fa-tint" aria-hidden="true"></i>
                                    </span>
                                </div> 
                            {% endif %}
                        </div>
                    </div>
                    <div class="d-flex flex-row gap-4">
                        <div class="col-sm-5">
                            <p class="desc-title m-0">Humidity Level:</p>
                        </div>
                        <div class="col-sm-5">
                            <p class="desc-text m-0">{{ plant.humidity }}</p>
                        </div>
                    </div>
                    <div class="d-flex flex-row gap-4">
                        <div class="col-sm-5">
                            <p class="desc-title m-0">Temperature:</p>
                        </div>
                        <div class="col-sm-5">
                            <p class="desc-text m-0">{{ plant.temperature }}</p>
                        </div>
                    </div>
                </div>
                <a type="button" class="btn btn-outline-primary mt-3 read-more-btn" data-plant='{{ plant | tojson | safe }}'>Read More</a>
            </div>
        </div>
        {% endfor %}
        {% if plants | length % 2 != 0 %}
        <div class="invisible-card flex-fill align-content-stretch">
        </div>
        {% endif %}
    </div>
    <div class="custom-card flex-shrink-1">
        <div class="plant-info">
            <p class="mt-5 post-title text-center">
                Click on a plant to view more information 
            </h>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        let lastHighlighted = null;
        const infoTextElement = document.querySelector('.plant-info'); 

        document.body.addEventListener('click', (e) => {
            if (e.target && e.target.classList.contains("read-more-btn")) { 
                const plantData = JSON.parse(e.target.getAttribute("data-plant")); 
                const feedbackContent = plantData.feedback.map(f => `<li class ="mb-2">${f}</li>`).join('');
                const moistureDisplay = plantData.moisture.toLowerCase() === 'low' ? `${plantData.moisture} <div class="water-tag"><span class="water-tooltip"><i class="fa fa-tint" aria-hidden="true"></i></span></div> ` : plantData.moisture;
                const content = `
                    <div class="d-flex flex-column mt-5">
                        <h2 class="post-title">${plantData.species}</h2>
                        <p class="desc-title mt-5">Immediate Action:</p>
                        <p class="desc-text">${plantData.immediate}</p>
                        <hr/>
                        <div class="d-flex flex-column gap-3 mb-3">
                            <div class="d-flex flex-row gap-4 mt-2">
                                <div class="col-sm-5">
                                    <p class="desc-title m-0">Overall Health:</p>
                                </div>
                            <div class="col-sm-5">
                                <p class="desc-text m-0">${plantData.health}</p>
                            </div>
                        </div>
                        <div class="d-flex flex-row gap-4">
                            <div class="col-sm-5">
                                <p class="desc-title m-0">Humidity Level:</p>
                            </div>
                            <div class="col-sm-5">
                                <p class="desc-text m-0">${plantData.humidity}</p>
                            </div>
                        </div>
                        <div class="d-flex flex-row gap-4">
                            <div class="col-sm-5">
                                <p class="desc-title m-0">Temperature</p>
                            </div>
                            <div class="col-sm-5">
                                <p class="desc-text m-0">${plantData.temperature}</p>
                            </div>
                        </div>
                        <div class="d-flex flex-row gap-4">
                            <div class="col-sm-5">
                                <p class="desc-title m-0">Light Exposure:</p>
                            </div>
                            <div class="col-sm-5">
                                <p class="desc-text m-0">${plantData.light}</p>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="d-flex flex-column gap-3 mb-3">
                        <div class="d-flex flex-row gap-4 mt-2">
                            <div class="col-sm-5">
                                <p class="desc-title m-0">Soil Moisture:</p>
                            </div>
                            <div class="col-sm-5 d-flex align-items-center justify-content-start gap-1">
                                <p class="desc-text m-0">${moistureDisplay}</p>
                            </div>
                        </div>
                        <div class="d-flex flex-row gap-4">
                            <div class="col-sm-5">
                                <p class="desc-title m-0">Soil Mixture:</p>
                            </div>
                            <div class="col-sm-5">
                                <p class="desc-text m-0">${plantData.soil}</p>
                            </div>
                        </div>
                        <div class="d-flex flex-row gap-4">
                            <div class="col-sm-5">
                                <p class="desc-title m-0">Last Watered:</p>
                            </div>
                            <div class="col-sm-5">
                                <p class="desc-text m-0">${plantData.lastWater} days ago</p>
                            </div>
                        </div>
                        <div class="d-flex flex-row gap-4">
                            <div class="col-sm-5">
                                <p class="desc-title m-0">Last Fertilized:</p>
                            </div>
                            <div class="col-sm-5">
                                <p class="desc-text m-0">${plantData.lastFertilized} days ago</p>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <p class="desc-title mt-3">Feedback:</p>
                    <ul class="desc-text">${feedbackContent}</ul>
                </div>
                `;
    
                infoTextElement.innerHTML = content;

                const cardElement = e.target.closest('.custom-card'); 
                if (lastHighlighted) {
                    lastHighlighted.classList.remove('highlighted'); 
                }
                cardElement.classList.add('highlighted'); 
                lastHighlighted = cardElement;
            }
        });
    });
    </script>

    
{% endblock %}

