{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<html>
    <body>
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="form-title">Energy Dashboard</h1>
            <button class="btn btn-primary"><i class="fa-solid fa-plus"></i>&ensp;Add Plant</button>
        </div>
        <div class="container grid grid-thirds grid-container mt-4">
        </div>
        <div class="container">
            <div class="container grid grid-thirds">
                <div class="chart-wrapper">
                <div class="chart-title">
                    Cost Predicted
                </div>
                <div class="chart-stage">
                    <canvas id="cost-chart"></canvas>
                    </div>
                <div class="chart-notes">
                    Notes about this chart
                </div>
                </div>
                <div class="chart-wrapper">
                <div class="chart-title">
                    Costs Saved
                </div>
                <div class="chart-stage">
                    <img data-src="holder.js/100px180?theme=white">
                </div>
                <div class="chart-notes">
                    Notes about this chart
                </div>
                </div>
                <div class="chart-wrapper">
                <div class="chart-title">
                    Usage Estimate
                </div>
                <div class="chart-stage">
                    <img data-src="holder.js/100px180?theme=white">
                </div>
                <div class="chart-notes">
                    Notes about this chart
                </div>
                </div>
                <div class="chart-wrapper">
                <div class="chart-title">
                    Active Appliances
                </div>
                <div class="chart-stage">
                    <canvas id="appliance-chart"></canvas>
                </div>
                <div class="chart-notes">
                    Notes about this chart
                </div>
                </div>
                <div class="chart-wrapper">
                <div class="chart-title">
                    Energy Intensity
                </div>
                <div class="chart-stage">
                    <img data-src="holder.js/100px180?theme=white">
                </div>
                <div class="chart-notes">
                    Notes about this chart
                </div>
                </div>
                <div class="chart-wrapper">
                <div class="chart-title">
                    Smart Tips
                </div>
                <div class="chart-stage">
                    <img data-src="holder.js/100px180?theme=white">
                </div>
                <div class="chart-notes">
                    Notes about this chart
                </div>
                </div>
            </div>
        </div>


    </body>
</html>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    // Get the canvas element
    var ctx = document.getElementById('cost-chart').getContext('2d');

    // Define chart data
    var costData = {
        labels: [
            'Electricity',
            'Gas'
        ],
        datasets: [{
            label: 'Cost',
            data: [230,50],
            backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)'
            ],
            hoverOffset: 4
        }]
    };

    // Create and render the chart
    var costChart = new Chart(ctx, {
        type: 'doughnut',
        data: costData,
    });
</script>

<!-- JavaScript code to initialize and render the chart -->
<script>
    // Get the canvas element
    var ctx = document.getElementById('appliance-chart').getContext('2d');

    // Define chart data
    var applianceData = {
        labels: ['Tuya Plug 1', 'Tuya Plug 2', 'Tuya Plug 3'],
        datasets: [{
            label: 'Number of Active Appliances',
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgba(255, 99, 132, 1)',   
            borderWidth: 1,
            data: [230, 920, 95]
        }]
    };

    // Create and render the chart
    var applianceChart = new Chart(ctx, {
        type: 'bar',
        data: applianceData,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

{% endblock %}

